.jumbotron {
  margin-bottom: 0;
  background-image: url('/assets/images/headerimage.jpg');
  background-size: cover;
  color: white;
  font-family: 'Jura', sans-serif;
}

.headline {
  color: #73BFB8;
  font-family: 'Jura', sans-serif;
}
