.jumbotron {
  margin-bottom: 0;
  background-image: url('/assets/images/headerimage.jpg');
  background-size: cover;
  color: white;
  font-family: 'Jura', sans-serif;
}

.headline {
  color: #73BFB8;
  font-family: 'Jura', sans-serif;
}

.hood-links {
  margin-top: 20px;
  background-color: rgba(245, 222, 179, .9);
}

#no-po-link {
  background-image: url("/assets/images/noPo.jpg");
  height: 200px;
  display: block;
  text-align: center;
  margin: 8px auto;
  color: white;
  font-family: 'Jura', sans-serif;
  font-size: 3em;
}


#northwest-link {
  background-image: url("/assets/images/northwest.jpg");
  height: 300px;
  display: block;
  text-align: center;
  margin: 8px auto;
  color: white;
  font-family: 'Jura', sans-serif;
  font-size: 3em;
}

#northeast-link {
  background-image: url("/assets/images/northeast.jpg");
  height: 300px;
  display: block;
  text-align: center;
  margin: 8px auto;
  color: white;
  font-family: 'Jura', sans-serif;
  font-size: 3em;
}

#southeast-link {
  background-image: url("/assets/images/southeast.jpg");
  height: 300px;
  display: block;
  text-align: center;
  margin: 8px auto;
  color: white;
  font-family: 'Jura', sans-serif;
  font-size: 3em;
}

#southwest-link {
  background-image: url("/assets/images/southwest.jpg");
  height: 300px;
  display: block;
  text-align: center;
  margin: 8px auto;
  color: white;
  font-family: 'Jura', sans-serif;
  font-size: 3em;
}

.map-display {
  height: 600px;
  width: 600px;
  float: right;
  margin-bottom: 50px;
}
