{{outlet}}

<h1 class="headline">About the Guide</h1>

<h4>Do you have anecdotes about sweet happenings that need to be heard by the public?</h4>
<h4>Are you broke (or close to) but not dirty?</h4>
<h4>Do you like drinking and having a good time?</h4>
<h4>Are you looking for the right place to kick back in your neighborhood?</h4>
<h2 style="text-align: right;">This is the guide for you.</h2>
