{{outlet}}

<h2>{{model.name}}</h2>

<ul style="list-style:none">
  {{#each model.reviews as |review|}}
    {{review-tile update="update" model=review}}
  {{/each}}
</ul>

{{new-review saveReview="saveReview" bar=model}}
