{{outlet}}

<h2>RHG Neighborhoods</h2>

<ul style="list-style:none">
  {{#each model as |neighborhood|}}
    {{#link-to 'neighborhood' neighborhood.id}}<li>{{neighborhood.name}}</li>{{/link-to}}
  {{/each}}
</ul>
