{{outlet}}

<h2>{{model.name}}</h2>

<ul style="list-style:none">
  {{#each model.bars as |bar|}}
    <li>{{#link-to 'bar' bar.id}}{{bar.name}}{{/link-to}}</li>
  {{/each}}
</ul>

{{new-bar saveBar="saveBar" neighborhood=model}}
